.post-body>div {
    margin-top: 0;
}
		.containerskills {
			background-color: #cecece
		}
		.breadcrumbs_options {
	color: #8c8c8c;    margin: 0;text-align:center ;

        }iframe{border:0}
.breadcrumbs_options li {
	font-weight: bold;
	color: #7e7e7e;
	font-size: 11px;
	    margin: 0 2px;
  display: inline;
}
#content .widget, .sidebar .widget {
    width: 100%;
	margin: 0 !important; } 
.breadcrumbs_options a {
	font-weight: bold;
	color: #7e7e7e;
}.row-article {
    width: 100%;
    margin: 0 auto !important;
	padding: 0 20px;
}
.eight-columns header {position: relative} 
.single-post-title:after {
    content: "";
    display: block;
    width: 47px;
    height: 2px;
    background: #16a085;
    position: absolute;
    top: 0;
}

.single-post-title {
    display: block;
    margin-top: 30px;
    padding: 18px 0px 20px 0;
    font-size: 28px;
    font-family: rakkas;
    position: relative;
}

.thread-toggle .thread-arrow {
    padding: 0;
    padding-left: 5px
}

.datetime.secondary-text a {
    font-size: 12px!important;
    font-weight: 400;
    display: block;
    font-style: italic
}
.avatar-image-container img {
    border-radius: 29px;
    float: right;
    margin: 5px 0 10px 10px;
    width: 35px;
    height: 35px
}

.comment-replies ol {
    border-right: 2px solid #ebebeb;
    padding-right: 10px
}

.comment-block {
    border: 1px solid #e2e2e2;
    background: #fff;
    padding: 10px;
    overflow: hidden
}

.comment-header {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 3px;
    margin-bottom: 5px
}

span.thread-toggle a:before {
    content: '\f070';
    font-family: 'font awesome 5 free';
    font-weight: 900;
    margin-left: 5px
}

.comment-content {
    margin-bottom: 15px;
    font-weight: 400;
    overflow-wrap: break-word;
    font-size: 13px;
    word-wrap: break-word
}

.comment-actions a,
.thread-count a {
    margin-right: 10px;
    padding: 3px 3px 1px 2px;
    color: #000;
    font-weight: 700
}
.post-meta.post-main{
    margin: 10px 8px 40px 0;
    padding-bottom: 12px;
    font-weight: 400;
}
.thread-chrome .thread-toggle {
    display: none!important
}

#top-ra span.thread-toggle. {
    display: block
}

.comment-replies .comment-thread {
    margin: 10px 25px 0 20px
}

.comment-replies li {
    margin-bottom: 15px
}

.comment-replies li:last-child {
    margin-bottom: 0
}

.comments-content .loadmore,
.thread-chrome.thread-collapsed {
    display: none
}

.thread-toggle {
    display: block;
    margin-bottom: 5px
}

.thread-toggle .thread-arrow {
    display: inline-block;
    height: 6px;
    margin: .3em;
    overflow: visible;
    padding-right: 4px;
    width: 7px
}
a.comment-reply::before {
    font-family: 'font awesome 5 free';
    font-weight: 900;
    content: '\f3e5';
    margin-left: 3px
}
	.comment-header a {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    font-style: normal
}.post-body div,
		.post-body p,
		.post-body span {
			color: #333;
			font-weight: 300;
			font-style: normal;
			font-size: 1rem !important;
			margin: 10px 0 20px 0
		}
.post-body{ margin-bottom: 20px ; }

		.post-body img {
			max-width: 100%;
			height: auto;
			border: 1px solid #eee;
			box-shadow: -1px 3px 15px 0 rgba(222, 222, 222, .66);
			outline: 1px solid #e6e6e6;
			outline-offset: -1px
		}
		.skills {
			padding-top: 2px;
			padding-bottom: 4px
		}
		.html12 {
			width: 80%;
			background-color: #4caf50;
			border-radius: 5px;
			height: 1px
		}
		.css12 {
			width: 70%;
			background-color: #2196f3;
			border-radius: 5px;
			height: 1px
		}
		.Photoshop12 {
			width: 95%;
			background-color: #f44336;
			border-radius: 5px;
			height: 1px
		}
		.Premier12 {
			width: 80%;
			background-color: grey;
			border-radius: 5px;
			height: 1px
		}.email-sub {
    background: #fff;
    margin: 30px 0;
    padding: 25px 10px;
    border: 1px solid #e6e6e6;
}.email-sub .follow-by-email-address {
    margin-left: 4%;
    width: 54%;
	margin-right: 1% ;
    display: inline-block;
}

.email-sub .follow-by-email-submit {
    width: 37%;
    display: inline-block
}
.sharepost a:hover {
    text-decoration: none!important;
    opacity: .7
}
.share-button.sb-facebook {
    background-color: #4769a5
}
.share-button.sb-pinterest {
    background-color: #ef6565
}
.share-button.sb-twitter {
    background-color: #65ccef
}
.linkedin {
    background: #2467a7
}

.sharepost {
    overflow: visible;
    text-align: center;
    margin: 20px 2%;
    min-height: 75px
}

.sharepost i {display:block; 
    margin-left: 5px;
    margin-right: 6px
}

.sharepost a {
      padding: 7px 0;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    margin-left: 1%;
    width: 10%;
    margin-bottom: 5px;
    min-width: 50px;
}

.share-button.sb-blog {
    background-color: #efa265
}

.share-button.sb-email {
    background-color: #6586ef
}

.tag_title {
    background-color: #16a085;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    padding: 4px 10px;
    color: #fff;
    margin: 25px 0 5px;
    display: inline-block
}
.eight-columns {
    width: 68%;
    display: block !important;
    margin: 20px auto;
}		.AfterEffects12 {
			width: 50%;
			background-color: #804080;
			border-radius: 5px;
			height: 1px
		}
 .featured-snippet  { padding: 10px 14px;
    display: inline-block;
    vertical-align: top;
width: 77%; }
.featured-iimage {  text-align:center ;  display: inline-block;
    vertical-align: top;
    width: 20%;}
.featured-iimage img{
    border-radius: 100%;
    border: 2px solid #cf9ea1;
    outline: 0; max-width: 70% ;
padding: 2px;} 
.featured-box{
    padding: 20px 5%;
    background: #f3f3f3;
    margin: 40px auto;
    border-top: 1px solid #eee;
}
.featured-box .socialdown {
    font-size: 17px;
}
@media screen and (min-width: 978px) { 

	.row-article {
    max-width: 730px;
    margin: 0 auto !important;
		padding:10px 0;
	
}
}
@media (min-width: 768px)
.row-article.row-article {
    max-width: 720px;
}

@media (min-width: 576px)
.row-article {
    max-width: 540px;
}

@media screen and (max-width: 600px) { 
	.featured-iimage {display:block ; text-align:center ; width:100%; }
.featured-snippet  { padding: 10px 14px;
    display: block;
    vertical-align: top;
width: 100%; }.featured-iimage img {
    max-width: 50%;
}
	
}
